<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder location="classpath:info.properties" />
	
	<bean id="ServiceBouh" class="com.spring.Wooooo">
	</bean>
	
	<bean id="Random" class="com.spring.RandomCheering">
	</bean>

	<bean id="ServiceClap" class="com.spring.Clap">
	</bean>

	<bean id="FootBallCoach" class="com.spring.FootBallCoach">
		<constructor-arg ref="ServiceClap" />
		<property name="a" value="5" />
	</bean>

	<bean id="BaseBallCoach" class="com.spring.BaseBallCoach">
		<constructor-arg ref="ServiceBouh" />
	</bean>

	<bean id="CricketCoach" class="com.spring.CricketCoach">
		<constructor-arg ref="ServiceBouh" />
	</bean>

	<bean id="PiscineCoach" class="com.spring.PiscineCoach">
		<property name="cheeringService" ref="Random" />
		<property name="nomEquipe" value="${x.nomEquipe}"></property>
		<property name="email" value="${x.email}"></property>
	</bean>



</beans>